<p id="notice"><%= notice %></p>

<p>
  <strong>Prefix:</strong>
  <%= @course.prefix %>
</p>

<p>
  <strong>Number:</strong>
  <%= @course.number %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<ol>
  <strong>Sections:</strong>
  <% @course.sections.each do |section| %>
    <li><%= section.name %>
  <% end %>
</ol>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
